<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--
Revision History:
$Log: testng.xml,v $
Revision 1.3  2007/05/12 11:01:27  marc
Moved to EMF model-based application.

Revision 1.2  2006/10/17 02:35:20  marc
Updated to checkpoint progress.

Revision 1.1  2006/09/19 12:54:59  marc
Updated to checkpoint progress.

-->

<suite name="All" verbose="1">
  <test name="Logic layer Copy directory test" annotations="JDK5">
    <classes>
      <class name="org.onceforall.dms.desktop.tests.LogicLayerMCopyDirectoryStepTest" />
    </classes>
  </test>
  <test name="Logic layer Tag and rename test" annotations="JDK5">
    <classes>
      <class name="org.onceforall.dms.desktop.tests.LogicLayerMNameTagStepTest" />
    </classes>
  </test>
  <test name="Logic layer Update published MP3s test" annotations="JDK5">
    <classes>
      <class name="org.onceforall.dms.desktop.tests.LogicLayerMUpdatePublishedMP3StepTest" />
    </classes>
  </test>
  <!--   <test name="Logic layer WWX meeting test" annotations="JDK5">
    <classes>
      <class name="org.onceforall.dms.desktop.tests.LogicLayerWwxMeetingTest" />
    </classes>
  </test>-->
  <test name="Logic layer normal service test" annotations="JDK5">
    <classes>
      <class name="org.onceforall.dms.desktop.tests.LogicLayerNormalServiceTest"  />
    </classes>
  </test>
</suite>