<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Revision History:
  $Log: plugin.xml,v $
  Revision 1.2  2006/09/19 12:52:06  marc
  Updated to checkpoint progress.

-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
          class="org.onceforall.dms.desktop.logic.LogicPackage"
          genModel="dev/models/core.genmodel"
          uri="http:///net/ccbromley/dms/desktop/model.ecore"/>
  </extension>

</plugin>

