<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Revision History:
$Log: plugin.xml,v $
Revision 1.3  2007/05/12 11:01:14  marc
Moved to EMF model-based application.

Revision 1.2  2006/09/19 12:53:05  marc
Updated to checkpoint progress.

-->

<plugin>

  <extension
        id="DMSDesktopEditorAdvisorApplication"
        name="DMS Desktop Editor"
        point="org.eclipse.core.runtime.applications">
    <application>
      <run
        class="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisor$Application">
      </run>
    </application>
  </extension>

   <extension
    point="org.eclipse.ui.perspectives">
    <perspective
      name="%_UI_Perspective_label"
      class="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisor$Perspective"
      id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorPerspective">
    </perspective>
  </extension>

  <extension
    point="org.eclipse.ui.commands">
    <command
      name="%_UI_Menu_OpenURI_label"
      description="%_UI_Menu_OpenURI_description"
      categoryId="org.eclipse.ui.category.file"
      id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenURICommand" />  
    <command
      name="%_UI_Menu_Open_label"
      description="%_UI_Menu_Open_description"
      categoryId="org.eclipse.ui.category.file"
      id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenCommand" />  
  </extension>
  
  <extension
    point="org.eclipse.ui.bindings">
    <key
      commandId="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenURICommand"
      sequence="M1+U"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
    <key
      commandId="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenCommand"
      sequence="M1+O"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
  </extension>

  <extension
    point="org.eclipse.ui.actionSets">
    <actionSet
      label="%_UI_DMSDesktopEditorAdvisor_ActionSet_label"
      visible="true"
      id="DMSDesktopEditorAdvisorActionSet">
      <action
        label="%_UI_Menu_About_label"
        class="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisor$AboutAction"
        menubarPath="help/additions"
        id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorAboutAction">
      </action>
      <action
        label="%_UI_Menu_OpenURI_label"
        definitionId="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenURICommand"
        class="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisor$OpenURIAction"
        menubarPath="file/additions"
        id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenURIAction">
      </action>
      <action
        label="%_UI_Menu_Open_label"
        definitionId="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenCommand"
        class="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisor$OpenAction"
        menubarPath="file/additions"
        id="org.onceforall.dms.desktop.logic.presentation.DMSDesktopEditorAdvisorOpenAction">
      </action>
    </actionSet>
  </extension>
   

  <extension
    point="org.eclipse.ui.actionSets">
    <actionSet
      label="%_UI_LogicModelWizard_ActionSet_label"
      visible="true"
      id="org.onceforall.dms.desktop.logic.presentation.LogicActionBarContributorActionSet">
      <action
        label="%_UI_LogicModelWizard_label"
        class="org.onceforall.dms.desktop.logic.presentation.LogicActionBarContributor$NewAction"
        menubarPath="file/new/additions"
        id="org.onceforall.dms.desktop.logic.presentation.LogicActionBarContributorNewAction">
      </action>
    </actionSet>
  </extension>  

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.onceforall.dms.desktop.logic.presentation.LogicEditorID"
        name = "%_UI_LogicEditor_label"
        icon = "icons/full/obj16/LogicModelFile.gif"
        extensions = "%_UI_LogicEditorFilenameExtension"
        class = "org.onceforall.dms.desktop.logic.presentation.LogicEditor" 
        contributorClass="org.onceforall.dms.desktop.logic.presentation.LogicActionBarContributor" >
    </editor>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.onceforall.dms.desktop.editor.DMSDesktopEditorAdvisorApplication"
           name="DMS Desktop Editor">
        <property
              name="aboutText"
              value="%productBlurb"/>
        <property
              name="startupForegroundColor"
              value="C8D5EA"/>
        <property
              name="startupProgressRect"
              value="0,280,455,15"/>
        <property
              name="startupMessageRect"
              value="7,220,441,20"/>
        <property
              name="appName"
              value="DMS Desktop Editor">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
</plugin>
