<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2006/08/29 00:58:55 marc Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.onceforall.org/metamodeller/MetaModeller.ecore" 
       class = "org.onceforall.metamodeller.MetaModellerPackage"
       genModel = "models/core.genmodel" /> 
  </extension>

</plugin>

